@model IEnumerable<PilotTask_MVC_Without_EF.Models.TaskViewModel>

@{
    ViewData["Title"] = "Task";
}

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>

<p>
    <a asp-action="AddOrEdit">Create New Task</a> | <a asp-controller="ProfileViewModels" asp-action="Index">Back to List</a>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                ProfileId
            </th>
            <th>
                TaskName
            </th>
            <th>
                TaskDescription
            </th>
            <th>
                StartTime
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProfileId
                </td>
                <td>
                    @item.TaskName
                </td>
                <td>
                    @item.TaskDescription
                </td>
                <td>
                    @item.StartTime
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
